<a href="https://colab.research.google.com/github/copaland/python2/blob/main/1py_sogongin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 파이썬 기초

## 가. 변수

In [ ]:
print("안녕하세요")  # 주석
# 주석

안녕하세요

In [ ]:
a = 3
b = 4
print(a,b)
print(a+b)
a,b = b,a
print(a,b)

3 4
7
4 3

isReady  
is_ready

In [ ]:
a = "대한"
b = '민국'
c = a + b
print(c)

대한민국

In [ ]:
a =  """안녕
하세요
만나서 반갑습니다"""
print(a)

안녕
하세요
만나서 반갑습니다

## 가감승제

In [ ]:
num1 = 100
num2 = 200
result = num1 + num2
print(num1, "+", num2, "=", result)

100 + 200 = 300

In [ ]:
num1 = 100
num2 = 200
result = num1 + num2
print(num1, "+", num2, "=", result)

result = num1 - num2
print(num1, "-", num2, "=", result)

result = num1 * num2
print(num1, "x", num2, "=", result)

result = num1 / num2
print(num1, "/", num2, "=", result)

100 + 200 = 300
100 - 200 = -100
100 x 200 = 20000
100 / 200 = 0.5

In [ ]:
a = 1234
b = "가나다라"
c = 3.141592
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
a = "대한민국"
print(a)
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
대한민국
<class 'str'>

### input()

In [ ]:
num1 = input("숫자를 입력해 주세요: ")
print(num1)
print(type(num1))

숫자를 입력해 주세요: 100
100
<class 'str'>

In [ ]:
a = int("100")
b = int("200")
print(a+b)

300

In [ ]:
a = "100"
b = "200"
print(a+b)

100200

In [ ]:
num1 = int(input("숫자1==> "))
num2 = int(input("숫자2==> "))

result1 = num1 + num2
print(result1)

숫자1==> 100
숫자2==> 200
300

## 산술 연산

In [ ]:
x = 5
y = 2

print( x + y)
print( x - y)
print( x * y)
print( x / y)
print( x // y)
print( x % y)
print( x ** y)
print( x ** -y)

7
3
10
2.5
2
1
25
0.04

In [ ]:
# 연결 연산
print("Hello" + "Python")
print("Hello","Python")
print("Hello""Python")
print("Hello",3)
print("Hello"*3)
print("="*20)

HelloPython
Hello Python
HelloPython
Hello 3
HelloHelloHello
====================

### 슬라이싱

In [ ]:
#      0123456789
a = "HelloPython"
b = a[1:5]
c = a[5:]
print(b)
print(c)

ello
Python

In [ ]:
a = "Hello Python"
b = 'Hello' in a
c = 'Hi' in a
print(b)
print(c)
d = len(a)
print(d)

True
False
12

In [ ]:
# 형식 지정
name = "홍길동"
age = 19
score = 95.5
print("이름: %s, 나이: %d, 점수: %f" %(name, age, score))

이름: 홍길동, 나이: 19, 점수: 95.500000

# 2. 조건문

In [ ]:
a = int(input("숫자입력 : "))
if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자입력 : 15
홀수

In [ ]:
# 로또 번호 생성

import random

def generate_lotto_numbers():
    return random.sample(range(1, 46), 6)

lotto = generate_lotto_numbers()
print("로또번호: {}".format(lotto))

로또번호: [8, 2, 26, 35, 40, 45]

# 3. WEB 크롤링

In [ ]:
# 네이버 뉴스 사이트 가져오기
import requests
from bs4 import BeautifulSoup as bs

head={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}

req = requests.get("https://news.naver.com/main/main.naver?mode=LSD&mid=shm&sid1=100", headers=head)

req.status_code

html = req.text
soup = bs(html, 'html.parser')
# soup

In [ ]:
import